<!-- Flair Squares Partial: Add this to any page you want flair squares to appear -->
<link rel="stylesheet" href="/styles/about-flair.css">
<div class="about-flair-row" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
  <div class="about-flair-stack" id="flair-stack-left"></div>
</div>
<div class="about-flair-row" style="margin-bottom: 1.5rem;">
  <div class="about-flair-stack" id="flair-stack-right"></div>
</div>
<script src="/scripts/about-flair-stacks.js"></script>
