<!-- =========================
     Library Squares, these show
     up on the sides of each page
     to fill space in desktop
     mode.  Refference wherever
     you want to add some.
     ========================= -->

<!-- Stylesheets -->
<link rel="stylesheet" href="/styles/about-flair.css">

<!-- Main Content -->
<div class="about-flair-row" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
  <div class="about-flair-stack" id="flair-stack-left"></div>
</div>
<div class="about-flair-row" style="margin-bottom: 1.5rem;">
  <div class="about-flair-stack" id="flair-stack-right"></div>
</div>

<!-- Scripts -->
<script src="/scripts/about-flair-stacks.js"></script>
