<%- include('../partials/header') %>
<link rel="stylesheet" href="/styles/about.css">
<div class="body-bg-fixed"></div>

<div class="page-header">
    <h1>About Aubfest</h1>
</div>
<main class="about-main">
    <div class="about-sections-row">
        <section class="general-info-section-main">
            
    <div class="section-header navy-header">
            General Info
        </div>
    <div class="general-info-section">
        <h2>When?</h2>
            <li>Friday, October 3rd from 4pm-12am</li>
            <li>Saturday, October 4th from 11am-12am</li>
        <br>
        <h2>Where?</h2>
        <li>Boggin' On The Plains</li>
        <a href="https://www.google.com/maps/place/Boggin'+On+The+Plains/@32.5115425,-85.5362886,17z/data=!3m1!4b1!4m6!3m5!1s0x888cf7e14c98a571:0xc20d1f5a21db016b!8m2!3d32.5115425!4d-85.5362886!16s%2Fg%2F11f5v8xj_2?entry=ttu&g_ep=EgoyMDI1MDYyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" style="color:inherit;">
            <li>3935 US-29, Auburn, AL 36830</li></a>
        <br>
        </div>
        <div class="general-info-section">
            <h2>Rules</h2>
        <h3>Kids Policy </h3>
        <li>Kids 12 and under are free with 
            an adult. We recommend ear 
            protection for everyone, but  
            little ones. There’s plenty 
            of room to spread out and avoid 
            the riff raff.
        </li>
        <br>
        <h3>Pet Policy</h3>
        <li>Pets are allowed on a leash and 
            will be evaluated on a case-by-case 
            basis for safety. Service animals 
            are always welcome.
        </li>
        <br>
        <h3>Outside Food & Drink</h3>
        <li>Expect food trucks, snacks, and 
            drinks being sold on festival 
            grounds but sealed water bottles 
            and snacks are allowed. Absolutely 
            no glass.
        </li>
        <br>
        <h3>Alcohol</h3>
        <li>Beer and seltzer will be available 
            for purchase to guests 21+. 
            Bring your ID, we will check.
        </li>
        <br>
        <h3>Payment Methods</h3>
        <li>We accept cash and card at the gate.</li>
        <li>Local ticketing locations are cash 
            only.</li>
        <li>Food & Art vendors will vary, so 
            be prepared</li>
        <br>
        <h3>Re-Entry</h3>
        <li>Your AubFest wristband allows for
            unlimited re-entry into the festival.
        </li>
        <br>
        </div>
        <div class="general-info-end-section general-info-section">
        <h2>Other Useful Information</h2>
        <h3>Food & Vendors</h3>
        <li>Expect food trucks, snacks, drinks, 
            vintage vendors, local artists, 
            and more. Full vendor lineup coming soon!
        </li>
        <br>
        <h3>*NEW* Second Stage</h3>
        <li>Check out the Vendorville Stage for 
            live music, drag performances, and 
            special showcases throughout the day.
        </li>
        <br>
        <h3>Merch</h3>
        <li>Limited-edition t-shirts, posters, 
            and stickers will be available at 
            our main merch booth as well as 
            merch from all participating bands. 
        </li>
        <br>
        <h3>Phone Charging</h3>
        <li>We’re working on it! We’ll announce 
            charging options closer to the 
            festival date.
        </li>
        </div>
    </section>

    <section class="faq-section-main">
    <div class="section-header navy-header">FAQ</div>
    <section class="faq-section">
        <h2>Tickets</h2>
        <div class="faq-list">
            <div class="faq-item">
                <button class="faq-question">
                    How can I purchase tickets?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Tickets can be purchase here on the website or on site.
                    Click <a href="/tickets" style="color:inherit;">HERE</a> 
                    to purchase tickets. $30 Early Bird, $35 At Door, $50 
                    for car camping.
                    <br>
                    <br>
                    -Bought online? You'll receive a QR code by email. 
                    Show it at the gate to get scanned and receive your wristband.
                    <br>
                    <br>
                    -Bought from a physical ticketing location? Wear your 
                    wristband to the gate for check-in; no need for a QR code.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Can I transfer my ticket?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Tickets are transferable.  You can send your qr code, 
                    found in your confirmation email, to anyone so that 
                    they may receive a wristband. Keep this information 
                    to yourself if you don’t wish to transfer your ticket. 
                    You <strong>will not</strong> be able to transfer your wristband once 
                    you put it on. No broken or knotted wristbands will 
                    be accepted upon entry.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    If I need to leave to grab something, can I re-enter the
                    grounds?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Yes, as long as you have your wristband, you
                    are allowed to leave the festival grounds and return 
                    at another time.
                    <br>
                    <br>
                    Show your wristband to an attendant at the gate
                    and you will be directed back into the festival.
                </div>            
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Can I volunteer for a free ticket?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Volunteers get free admission. Apply 
                    <a href="#" class="go-to-volunteer" style="color:inherit;">HERE</a>
                    to help out and join the crew!
                    <br>
                    Upon entry, volunteers will be directed to the credentials 
                    tent to receive passes and information. 

                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Where do I go to pick up credentials?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Volunteers, vendors, performers, and media personnel 
                    will be directed from the vehicle queue, to the 
                    credentials tent to pick up passes and receive 
                    further instruction.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    What is your policy on refunds?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    As a grassroots event run by a small crew, we 
                    aren’t able to offer refunds. No exceptions, 
                    including for weather or unforeseen circumstances. 
                    Please double-check your plans before purchasing.
                </div>
            </div>
        </div>
    </section>

    <section class="faq-section">
        <h2>Getting Involved</h2>
        <div class="faq-list">
            <div class="faq-item">
                <button class="faq-question">
                    How can I get involved?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    There are many ways to get involved in the
                    Aubfest community!  We accept applications to 
                    volunteer, perfrom, take photos, or sell your
                    food or art as a vendor.  For more information on
                    these methods of getting involved, see the <a href="/involved" style="color:inherit;">"Getting Involved"</a>
                    section of our website!
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    How can my business or organization partner with AubFest?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    We’d love to collaborate with you! Email 
                    <a href="mailto:aubfest@gmail.com" style="color:inherit; text-decoration:underline;">aubfest@gmail.com</a> 
                    about creative collaboration, cross-promotions, 
                    sponsorship perks, or any other idea that 
                    comes to mind!
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    How can my band perform at AubFest?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Musician and performer submissions are open until July 19.  
                    You can apply to perform at AubFest by sending
                    an email to 
                    <a href="mailto:aubfest@gmail.com" style="color:inherit; text-decoration:underline;">aubfest@gmail.com</a> 
                    <br>
                    Here are some information we look for:
                    <ul>
                        <li>Where you’re from, where all you’ve played</li>
                        <li>Links to socials, streaming, and an EPK if you have one</li>
                        <li>Relevant news updates (Releasing music, upcoming performances, etc.)</li>
                        <li>Any other reason to brag about yourself. we want to hear it!</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="faq-section faq-travel-section">
        <h2>Travel & Accommodations</h2>
        <div class="faq-list">
            <div class="faq-item">
                <button class="faq-question">
                    Can I camp at AubFest?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Camping is encouraged with all tickets and will be 
                    available Friday and Saturday night. More info to 
                    come soon about locations available.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Where can I park?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Parking is free for all attendees.  Our team
                    will direct you to a parking area when you arrive
                 </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Will there be RV access?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Small RVs and campers are allowed, but we do not offer hookups. 
                    <a href="mailto:aubfest@gmail.com" style="color:inherit; text-decoration:underline;">Email us</a> to reserve a space.
                </div>
            </div>
        </div>
    </section>
    </section>
</div>
</main>
<%- include('../partials/footer') %>
<script src="/scripts/about.js"></script>