<%- include('../partials/header') %>
<link rel="stylesheet" href="/styles/about.css">
<main class="about-main">
    <section class="about-header">
        <h1>About Aubfest</h1>
    </section>
    <section class="faq-section">
        <h2>Tickets</h2>
        <div class="faq-list">
            <div class="faq-item">
                <button class="faq-question">
                    How can I purchase tickets?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Tickets can be purchase here on the website or on site.
                    Click <a href="/involved" style="color:inherit;">HERE</a> 
                    to purchase tickets. $30 Early Bird, $35 At Door, $50 
                    for car camping.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Can I transfer my ticket?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Tickets are transferable — you can send 
                    your confirmation email to anyone and 
                    it includes the qr code to get you in. 
                    <br>
                    Keep this information to yourself if 
                    you don’t wish to transfer your ticket.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Can I volunteer for a free ticket?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    Volunteers get free admission. Apply 
                    <a href="#" class="go-to-volunteer" style="color:inherit;">HERE</a>
                    to help out and join the crew!
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Where do I go for will/call or credentials pickup?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    <ul>
                        <li>Bought online? You'll receive a QR code by 
                            email. Show it at the gate to get scanned 
                            and receive your wristband.
                        </li>
                        <br>
                        <li>Bought from a physical ticketing location? 
                            Wear your wristband to the gate for 
                            check-in — no need for a QR code.
                        </li>
                        </ul>

                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    What is your policy on refunds?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    
                </div>
            </div>
        </div>
    </section>

    <section class="faq-section">
        <h2>Getting Involved</h2>
        <div class="faq-list">
            <div class="faq-item">
                <button class="faq-question">
                    How can I get involved?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    There are many ways to get involved in the
                    Aubfest community!  We accept applications to 
                    volunteer, perfrom, take photos, or sell your
                    food or art as a vendor.  For more information on
                    these methods of getting involved, see the <a href="/involved" style="color:inherit;">"Getting Involved"</a>
                    section of our website!
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    Where do I apply to be a vendor?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    You can apply to be a food/art vendor on the 
                    <a href="#" class="go-to-food-vendor" style="color:inherit;">"Getting Involved"</a>
                    page or by accessing the forms directly below.  
                    <br>
                    <br>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_ZNXI6QVssneZBH7hV03SNa95MxXIjzfQAl_FbZBbpYywIw/viewform" target="_blank" style="color:inherit;">Food/Beverage Vendor Form</a>
                    <br>
                    <a href="https://docs.google.com/forms/d/1WoEYG2tYH7yi5mAssLDieqIhE1D6vBPyTZdWETuWWhM/viewform?edit_requested=true" target="_blank" style="color:inherit;">Art Vendor Form</a>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    How can I sign up to be a photographer?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    You can apply to become a photoghrapher at AubFest 
                    by submiting your portfolio <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4F6ibfQMTToYDKPiuNzMLhWmMRXFqTeSGqsG7vuy8sXvp7Q/viewform" target="_blank" style="color:inherit;">here</a> 
                    or through the <a href="/involved" style="color:inherit;">"Getting Involved"</a> page.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    How can I sign up to volunteer?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    To volunteer, please send our 
                    volunteer coordinator Aiden an email.
                    You can reach Aiden via email <a href="mailto:acalderonwy@gmail.com?subject=Volunteer%20Application%20for%20Aubfest" class="btn apply-btn">HERE</a> 
                    or follow the link on the 
                    <a href="/involved" style="color:inherit;">"Getting Involved"</a> page.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    How can we partner with AubFest?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">
                    How can my band perform at AubFest?
                    <span class="faq-arrow">&#9654;</span>
                </button>
                <div class="faq-answer">
                    You can apply to perform at AubFest by sending us
                    an email at 
                    <a href="mailto:aubfest@gmail.com" style="color:inherit; text-decoration:underline;">aubfest@gmail.com</a> 
                    or by following the link on the <a href="/involved" style="color:inherit;">"Getting Involved"</a> page.
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../partials/footer') %>
<script src="/scripts/about.js"></script>