<!-- =========================
     Home Page
     This is the landing page for 
     the website.  It includes a 
     carousel featuring festival
     images, as well as brief
     descriptions and links to 
     pages containing the lineup,
     getting involved, and about.
     ========================= -->

<!-- Including Header -->
<%- include('../partials/header') %>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/home.css">

    <!-- Carousel -->
    <div class="carousel-header-container">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide active">
                    <img src="/images/Crowd1.jpg" alt="Festival Image 1">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/crowd2.jpg" alt="Festival Image 2">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/crowd3.JPG" alt="Festival Image 3">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/Crowd4.jpg" alt="Festival Image 4">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/6-crowd1.jpg" alt="Festival Image 5">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd3.JPG" alt="Festival Image 6">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd5.jpg" alt="Festival Image 7">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd6.jpg" alt="Festival Image 8">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/crowd5.jpg" alt="Festival Image 9">
                </div>
            </div>
            <button class="carousel-button prev">&lt;</button>
            <button class="carousel-button next">&gt;</button>
            <div class="carousel-dots">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
                <span class="dot" data-index="3"></span>
                <span class="dot" data-index="4"></span>
                <span class="dot" data-index="5"></span>
                <span class="dot" data-index="6"></span>
                <span class="dot" data-index="7"></span>
                <span class="dot" data-index="8"></span>
            </div>
        </div>
    </div>


    <!-- Carousel for new images -->
    <div class="carousel-3d-container" style="margin-top: 1rem; margin-bottom: 2rem;">
        <button class="carousel-3d-btn prev-btn">&#10094;</button>
        <div class="carousel-3d">
            <a href="/lineup" style="color:inherit;"><img src="/images/flyer1.jpg" alt="Flyer 1"
                    class="carousel-3d-img"></a>
            <a href="/lineup" style="color:inherit;"><img src="/images/flyer4.png" alt="Flyer 2"
                    class="carousel-3d-img"></a>
            <a href="/lineup" style="color:inherit;"><img src="/images/flyer2.jpg" alt="Flyer 1"
                    class="carousel-3d-img"></a>
            <a href="/lineup" style="color:inherit;"><img src="/images/flyer3.jpg" alt="Flyer 1"
                    class="carousel-3d-img"></a>

        </div>
        <button class="carousel-3d-btn next-btn">&#10095;</button>
    </div>

    <!-- =========================
     Preview Sections
     These sections provide a brief
     overview of the different sub-pages
     of the festival with links to each
     of them.
     ========================= -->

    <!-- Lineup Preview Section -->
    <section class="content-section lineup-preview-section">
        <div class="lineup-inner">
            <h2>Lineup</h2>
            <hr class="lineup-divider">
            <p>AubFest’s lineup features a wide variety of unique artists,
                from regional breakthroughs to Auburn hometown legends.
                Spring 2026 lineup TBA.
            </p>
            <hr class="lineup-divider-reverse">
            <a href="/lineup" class="about-btn">See the Fall Lineup</a>
        </div>
    </section>

    <!-- Get Involved Preview Section-->
    <section class="content-section get-involved-section">
        <div class="get-involved-inner">
            <h2>Get Involved</h2>
            <hr class="get-involved-divider">
            <p> Everyone is welcome to build this festival up!
                Vending, performing, and volunteering are a few
                great ways to leave your mark on one of the most
                unique traditions to ever take place in Auburn.
            </p>
            <hr class="get-involved-divider-reverse">
            <a href="/involved" class="about-btn">Opportunities</a>
    </section>

    <!-- About Aubfest Preview Section-->
    <section class="content-section welcome-section">
        <div class="welcome-inner">
            <h2>About</h2>
            <hr class="welcome-divider">
            <p>AubFest's mission is to uplift and support
                independent musicians, artists, and artisans
                in the Auburn-Opelika community through
                event promotion and community development.
            </p>
            <hr class="welcome-divider-reverse">
            <a href="/about" class="about-btn">More About Aubfest</a>
        </div>
    </section>

    <!-- Footer Inclusion -->
    <%- include('../partials/footer') %>