<!-- =========================
     Home Page
     This is the landing page for 
     the website.  It includes a 
     carousel featuring festival
     images, as well as brief
     descriptions and links to 
     pages containing the lineup,
     getting involved, and about.
     ========================= -->

<!-- Including Header -->
<%- include('../partials/header') %>

<!-- Stylesheet -->
<link rel="stylesheet" href="/styles/home.css">

<!-- Carousel -->
    <div class="carousel-header-container">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide active">
                    <img src="/images/Crowd1.jpg" alt="Festival Image 1">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/crowd2.jpg" alt="Festival Image 2">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/crowd3.JPG" alt="Festival Image 3">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/Crowd4.jpg" alt="Festival Image 4">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/6-crowd1.jpg" alt="Festival Image 5">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd3.JPG" alt="Festival Image 6">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd5.jpg" alt="Festival Image 7">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd6.jpg" alt="Festival Image 8">
                </div>
                <div class="carousel-slide active">
                    <img src="/images/crowd5.jpg" alt="Festival Image 9">
                </div>
            </div>
            <button class="carousel-button prev">&lt;</button>
            <button class="carousel-button next">&gt;</button>
            <div class="carousel-dots">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
                <span class="dot" data-index="3"></span>
                <span class="dot" data-index="4"></span>
                <span class="dot" data-index="5"></span>
                <span class="dot" data-index="6"></span>
                <span class="dot" data-index="7"></span>
                <span class="dot" data-index="8"></span>
            </div>
        </div>
    </div>


    <!-- Carousel for new images -->
<div class="carousel-3d-container" style="margin-top: 1rem; margin-bottom: 2rem;">
  <button class="carousel-3d-btn prev-btn">&#10094;</button>
  <div class="carousel-3d">
    <button style="color:inherit;"><img src="/images/thrift-flyer.png" alt="Flyer 1" class="carousel-3d-img"></button>
    <a href="/lineup" style="color:inherit;"><img src="/images/flyer1.jpg" alt="Flyer 1" class="carousel-3d-img"></a>
    <a href="https://www.tickettailor.com/events/aubfest/1783954" target="_blank" style="color:inherit;"><img src="/images/boyscott-poster.png" alt="Boyscott Poster" class="carousel-3d-img"></a>
    <a href="/lineup" style="color:inherit;"><img src="/images/flyer2.jpg" alt="Flyer 2" class="carousel-3d-img"></a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKPI2g4vd8PXrHs_iTXxpH23Ko7lTVEEoUccf7TS72V_yvgw/viewform?pli=1" target="_blank" style="color:inherit;"><img src="/images/shirt-design.jpg" alt="Shirt Design" class="carousel-3d-img"></a>

  </div>
  <button class="carousel-3d-btn next-btn">&#10095;</button>
</div>

    <!-- =========================
     Preview Sections
     These sections provide a brief
     overview of the different sub-pages
     of the festival with links to each
     of them.
     ========================= -->

     <!-- Lineup Preview Section -->
    <section class="content-section lineup-preview-section">
        <h2>Fall Lineup</h2>
        <p>AubFest’s Fall lineup features 20+ unique artists, from 
            regional breakthroughs to Auburn hometown legends! 
            Click here to learn more about the roster.
        </p>
        <a href="/lineup" class="lineup-btn">See the Fall Lineup</a>
    </section>

    <!-- Get Involved Preview Section-->
    <section class="content-section get-involved-section">
        <h2>Get Involved</h2>
        <p> Everyone is welcome to build this festival up! 
            Vending, performing, and volunteering are a few 
            great ways to leave your mark on one of the most 
            unique traditions to ever take place in Auburn.
</p>
        <a href="#" class="about-btn">Opportunities</a>
    </section>

    <!-- About Aubfest Preview Section-->
    <section class="content-section welcome-section">
        <h2>About</h2>
        <p>AubFest's mission is to support underrepresented 
            artists and grow the local creative scene through 
            inclusive, community-driven events and programs 
            in Auburn–Opelika. Every semester, young music 
            enthusiasts gather to create an outdoor space 
            dedicated to celebrating local musicians, artists, 
            and the community at large. With the goal in mind 
            to raise up Auburn’s vibrant sound, the festival 
            stands to give its best efforts to every creative 
            discipline; music, art, photography, comedy, design, 
            and lots more unique talents that make our local 
            culture vibrant. 
</p>  
        <a href="/about" class="about-btn">More About Aubfest</a>
    </section>

    <!-- Footer Inclusion -->
<%- include('../partials/footer') %>