<%- include('../partials/header') %>

    <main class="main-content">
        <div class="carousel-container">
            <div class="carousel-overlay">
                <!--<img src="/images/logo1.png" alt="Aubfest Logo" class="overlay-logo">-->
            </div>
            <div class="carousel">
                <div class="carousel-slide active">
                    <img src="/images/6-crowd1.jpg" alt="Festival Image 1">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd3.JPG" alt="Festival Image 2">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd5.jpg" alt="Festival Image 3">
                </div>
                <div class="carousel-slide">
                    <img src="/images/6-crowd6.jpg" alt="Festival Image 4">
                </div>
                <div class="carousel-slide">
                    <img src="/images/2-normas-crowd.jpg" alt="Festival Image 5">
                </div>
            </div>
            <button class="carousel-button prev">&lt;</button>
            <button class="carousel-button next">&gt;</button>
            <div class="carousel-dots">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
                <span class="dot" data-index="3"></span>
                <span class="dot" data-index="4"></span>
            </div>
        </div>

        <section class="content-section welcome-section">
            <h2>About</h2>
            <p>AubFest isn’t just a concert or a party, it’s the one day where Auburn and Opelika locals 
                are seen and celebrated as what they are, artists.</p>
            
            <a href="/about" class="about-btn">More About Aubfest</a>
        </section>

        <section class="content-section lineup-preview-section">
            <h2>Lineup</h2>
            <p>Our lineup consists of an incredibly diverse selection of local and regional artists.  Each year we make sure 
                that there's a little something for everyone and love giving the stage to all of the incredibly talented 
                musicians we have the privilage of hosting.
            </p>
            <a href="/lineup" class="lineup-btn">See the Full Lineup</a>
        </section>

        <section class="content-section get-involved-section">
            <h2>Get Involved</h2>
            <p>Want to be a part of Aubfest? Volunteering, 
                vending, sponsoring, and performing are just a 
                few great ways to get involved.  We welcome
                all who want to help make Aubfest special.</p>
            <a href="#" class="about-btn">Apply Now</a>
        </section>
    </main>

<%- include('../partials/footer') %>