<!-- =========================
     Lineup Page
     This page displays the current
     lineup of artists for the upcoming
     festival.  Each artist has their 
     own card which displays an image
     of each artist, with thier name
     appearing on hover(desktop) or on
     tap(mobile).  Clicking an artist
     card(desktop) or double tapping(mobile)
     will open artist's website in a new tab.
     ========================= -->


<!-- Header Inclusion -->
<%- include('../partials/header') %>

    <!-- Stylesheet-->
    <link rel="stylesheet" href="/styles/lineup.css">

    <!-- Header -->
    <div class="page-header">
        <h1>Lineup</h1>
    </div>

    <!-- =========================
    Main Content of Page
    ========================= -->
    <main class="main-content lineup-page">

    <!-- Artist info cards -->
    <div class="card-container">

        <div class="artist-card view-past-lineups-card" style="pointer-events: none; opacity: 0.85;">
            <span class="view-past-lineups-btn" style="cursor: default;">Past lineups coming soon!!</span>
        </div>
        <!-- View Past Lineups Button Card
            <a href="/past-lineups" class="artist-card-link" style="text-decoration:none;">
                <div class="artist-card view-past-lineups-card">
                    <button type="button" class="view-past-lineups-btn">View Past Lineups</button>
                </div>
            </a -->
            
            <!-- Post Sex Nachos -->
            <a href="https://postsexnachos.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/post-sex-nachos.jpg" alt="Post Sex Nachos">
                    <div class="artist-white-fade"></div>
                    <img src="/images/post-sex-nachos-title.png" class="artist-overlay-img"
                        alt="Post Sex Nachos Overlay">
                </div>
            </a>

            <!-- Anna Colson -->
            <a href="https://linktr.ee/annacolson?utm_source=linktree_admin_share" target="_blank"
                rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/anna-colson.jpg" alt="Anna Colson">
                    <div class="artist-white-fade"></div>
                    <img src="/images/anna-colson-title.png" class="artist-overlay-img" alt="Anna Colson Overlay">
                </div>
            </a>

            <!-- Slugbleed -->
            <a href="https://linktr.ee/Slugbleed" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/slugbleed.jpg" alt="Slug Bleed">
                    <div class="artist-white-fade"></div>
                    <img src="/images/slug-bleed-title.png" class="artist-overlay-img" alt="Slugbleed Overlay">
                </div>
            </a>

            <!-- Carmine Sun -->
            <a href="https://linktr.ee/carminesun" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/carmine-sun.jpg" alt="Carmine Sun">
                    <div class="artist-white-fade"></div>
                    <img src="/images/carmine-sun-title.png" class="artist-overlay-img" alt="Carmine Sun Overlay">
                </div>
            </a>

            <!-- Shock Tea -->
            <a href="https://shocktea.bandcamp.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/shock-tea.jpg" alt="Shock Tea">
                    <div class="artist-white-fade"></div>
                    <img src="/images/shock-tea-title.png" class="artist-overlay-img" alt="Shock Tea Overlay">
                </div>
            </a>

            <!-- Mayweather -->
            <a href="https://linktr.ee/mayweather.music" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/mayweather.jpg" alt="Shock Tea">
                    <div class="artist-white-fade"></div>
                    <img src="/images/mayweather-title.PNG" class="artist-overlay-img" alt="Shock Tea Overlay">
                </div>
            </a>

            <!-- Band Sillhouette -->
            <a href="https://thebandsilhouette.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/band-silhouette.JPG" alt="Band Silhouette">
                    <div class="artist-white-fade"></div>
                    <img src="/images/silhouette-title.PNG" class="artist-overlay-img" alt="Silhouette Overlay">
                </div>
            </a>

            <!-- Okay Kenedi -->
            <a href="https://www.okaykenedi.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/okay-kenedi.JPG" alt="Okay Kenedi">
                    <div class="artist-white-fade"></div>
                    <img src="/images/okay-kenedi-title.png" class="artist-overlay-img" alt="Okay Kenedi Overlay">
                </div>
            </a>

            <!-- Yes Daddy-->
            <a href="https://www.whotfisyesdaddy.com/" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/yes-daddy.jpg" alt="Yes Daddy">
                    <div class="artist-white-fade"></div>
                    <img src="/images/yes-daddy-title.png" class="artist-overlay-img" alt="Yes Daddy Overlay">
                </div>
            </a>

            <!-- Pink Noire -->
            <a href="https://www.instagram.com/pink.noire/?hl=en" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/pink-noire.JPG" alt="Pink Noire">
                    <div class="artist-white-fade"></div>
                    <img src="/images/pink-noire-title.png" class="artist-overlay-img" alt="Pink Noire Overlay">
                </div>
            </a>

            <!-- Varsity Blues -->
            <a href="https://varsityblues.bandcamp.com/" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/varsity-blues.JPG" alt="Varsity Blues">
                    <div class="artist-white-fade"></div>
                    <img src="/images/varsity-blues-title.png" class="artist-overlay-img" alt="Varsity Blues Overlay">
                </div>
            </a>

            <!-- Asper -->
            <a href="https://itsasper.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/Asper.jpg" alt="Asper">
                    <div class="artist-white-fade"></div>
                    <img src="/images/asper-title.png" class="artist-overlay-img" alt="Asper Overlay">
                </div>
            </a>

            <!-- Jombi -->
            <a href="https://jombiofficial.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/Jombi.jpeg" alt="Jombi">
                    <div class="artist-white-fade"></div>
                    <img src="/images/jombi-title.PNG" class="artist-overlay-img" alt="Jombi Overlay">
                </div>
            </a>

            <!-- Band Honey -->
            <a href="https://www.instagram.com/thebandhoney_/?hl=en" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/band-honey.jpg" alt="Band Honey">
                    <div class="artist-white-fade"></div>
                    <img src="/images/band-honey-title.PNG" class="artist-overlay-img" alt="Band Honey Overlay">
                </div>
            </a>

            <!-- Sosho Cloudy -->
            <a href="https://www.instagram.com/shosocloudy/" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/shoso-cloudy.jpg" alt="Sosho Cloudy">
                    <div class="artist-white-fade"></div>
                    <img src="/images/shoso-title.PNG" class="artist-overlay-img" alt="Sosho Cloudy Overlay">
                </div>
            </a>

            <!-- Yes Dear -->
            <a href="https://www.instagram.com/yesdearband/?hl=en" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/yes-dear.JPG" alt="Yes Dear">
                    <div class="artist-white-fade"></div>
                    <img src="/images/yes-dear-title.PNG" class="artist-overlay-img" alt="Yes Dear Overlay">
                </div>
            </a>

            <!-- County Road Basement -->
            <a href="https://www.instagram.com/county.rd.basement/?hl=en" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/county-rd-basement.JPG" alt="County Road Basement">
                    <div class="artist-white-fade"></div>
                    <img src="/images/county-rd-title.png" class="artist-overlay-img"
                        alt="County Road Basement Overlay">
                </div>
            </a>

            <!-- The Normas -->
            <a href="https://www.thenormas.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/normas.JPG" alt="The Normas">
                    <div class="artist-white-fade"></div>
                    <img src="/images/normas-title.PNG" class="artist-overlay-img" alt="The Normas Overlay">
                </div>
            </a>

            <!-- DJ Treybaby B2B Mourning Dove -->
            <a href="#" class="artist-card-link treybaby-mourning-link" tabindex="0">
                <div class="artist-card">
                    <img src="/images/treybaby-mourning-dove.JPG" alt="DJ Treybaby B2B Mourning Dove">
                    <div class="artist-white-fade"></div>
                    <img src="/images/treybaby-mourning-dove-title.png" class="artist-overlay-img"
                        alt="DJ Treybaby B2B Mourning Dove Overlay">
                </div>
            </a>

            <!-- Marz -->
            <a href="https://www.instagram.com/marzdub/?hl=en" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/marz.JPG" alt="Marz">
                    <div class="artist-white-fade"></div>
                    <img src="/images/marz-title.PNG" class="artist-overlay-img" alt="Marz Overlay">
                </div>
            </a>

            <!-- Queen City Avenue -->
            <a href="https://www.instagram.com/qcaband/" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/qca.JPG" alt="Queen City Avenue">
                    <div class="artist-white-fade"></div>
                    <img src="/images/qca-title.PNG" class="artist-overlay-img" alt="Queen City Avenue Overlay">
                </div>
            </a>

            <!-- Sunhouse -->
            <a href="https://www.sunhouseband.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/sunhouse.jpg" alt="Sunhouse">
                    <div class="artist-white-fade"></div>
                    <img src="/images/sunhouse-title.PNG" class="artist-overlay-img" alt="Sunhouse Overlay">
                </div>
            </a>

            <!-- Medicine Bus -->
            <a href="https://linktr.ee/MedicineBusBand" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/medicine-bus.jpg" alt="Medicine Bus">
                    <div class="artist-white-fade"></div>
                    <img src="/images/medicine-bus-title.png" class="artist-overlay-img" alt="Medicine Bus Overlay">
                </div>
            </a>

            <!-- CLD -->
            <a href="https://www.cldxp.net/cld" target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/cld.jpeg" alt="CLD">
                    <div class="artist-white-fade"></div>
                    <img src="/images/cld-title.PNG" class="artist-overlay-img" alt="CLD Overlay">
                </div>
            </a>

            <!-- Warhol -->
            <a href="https://linktr.ee/thewarholband?fbclid=PAZXh0bgNhZW0CMTEAAaf4MNmdhXxY2RekOxtZaf3D4SenxwFgMUmUKA7lRCbDEqzYZuF51fPC5kE-qg_aem_3g7rw0ALT-zrIT6-lCyHTg"
                target="_blank" rel="noopener noreferrer" class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/warhol.JPG" alt="Warhol">
                    <div class="artist-white-fade"></div>
                    <img src="/images/warhol-title.PNG" class="artist-overlay-img" alt="Warhol Overlay">
                </div>
            </a>

            <!-- Sandpipers -->
            <a href="https://www.instagram.com/ssandpiperss/" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/sandpipers.png" alt="Sandpipers">
                    <div class="artist-white-fade"></div>
                    <img src="/images/sandpipers-title.PNG" class="artist-overlay-img" alt="Sandpipers Overlay">
                </div>
            </a>

            <!-- Oh.Pake -->
            <a href="https://www.instagram.com/oh.pake/" target="_blank" rel="noopener noreferrer"
                class="artist-card-link">
                <div class="artist-card">
                    <img src="/images/ohpake.jpg" alt="Oh.Pake">
                    <div class="artist-white-fade"></div>
                    <img src="/images/ohpake-title.PNG" class="artist-overlay-img" alt="Oh.Pake Overlay">
                </div>
            </a>

            <!-- Feddie
            <a href="l.instagram.com/?u=https%3A%2F%2Flinktr.ee%2Ffeddiesound%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAafSpYrJPfPE_mjwxJxooMNi00nAglzsdJ41BlN3IW2dCUwBUrHETK7SH4Y_OQ_aem_hDn7JMMw8OXDvkxWmrVM3Q&e=AT3AZUznDd4PDn2_hE5Pfcx7hdZ952sMRIe0fa1myCgvu5xbcj2Hpucxz-Lp6_3MoeZWUiqG94L_EY8Co0U35xMG8IHh9UT1QYmRexvUTw" target="_blank" class="artist-card-link artist-card-placeholder" tabindex="0">
                <div class="artist-card">
                    <img src="/images/feddie.png" alt="Feddie">
                    <div class="artist-white-fade"></div>
                    <img src="" class="artist-overlay-img" alt="Feddie Overlay">
                </div>
            </a>

            <!-- Post Mourning
            <a href="https://linktr.ee/post_mourning?fbclid=PAZXh0bgNhZW0CMTEAAaffj6w3Sgm-oThvB8D6LR1PDTqOAI68A_rjtio706jqIHZ_KNOSU0p0okNayQ_aem_sCD2-9obzvYW-FrQhvOSdA" target="_blank" class="artist-card-link artist-card-placeholder" tabindex="0">
                <div class="artist-card">
                    <img src="/images/post-mourning.png" alt="Post Mourning">
                    <div class="artist-white-fade"></div>
                    <img src="" class="artist-overlay-img" alt="Post Mourning">
                </div>
            </a>

            <!-- DJ Chopp
            <a href="https://www.instagram.com/djchopp/" target="_blank" class="artist-card-link artist-card-placeholder" tabindex="0">
                <div class="artist-card">
                    <img src="/images/dj-chopp.png" alt="???">
                    <div class="artist-white-fade"></div>
                    <img src="" class="artist-overlay-img" alt="DJ Chopp">
                </div>
            </a>

        <!-- Cj Fagan
         <a href="https://linktr.ee/diaryofacoolkid?fbclid=PAZXh0bgNhZW0CMTEAAafmTYtSjwGJq9wi1VXzLoIgw3hkgqaSYONv5Mga18Diz39-Ill8LD6gqbnbXg_aem_He04II57IeJl32jQeunRMA" target="_blank" class="artist-card-link artist-card-placeholder" tabindex="0">
                <div class="artist-card">
                    <img src="/images/cj-fagan.png" alt="CJ Fagan">
                    <div class="artist-white-fade"></div>
                    <img src="" class="artist-overlay-img" alt="CJ Fagan">
                </div>
            </a> -->


            

        </div>
    </main>
    <script src="/scripts/lineup.js"></script>
    <%- include('../partials/footer') %>