<!-- =========================
     Lineup Page
     This page displays the current
     lineup of artists for the upcoming
     festival.  Each artist has their 
     own card which displays an image
     of each artist, with thier name
     appearing on hover(desktop) or on
     tap(mobile).  Clicking an artist
     card(desktop) or double tapping(mobile)
     will open artist's website in a new tab.
     ========================= -->


<!-- Header Inclusion -->
<%- include('../partials/header') %>

<!-- Stylesheet-->
<link rel="stylesheet" href="/styles/lineup.css">

<!-- Header -->
<div class="page-header">
    <h1>Lineup</h1>
</div>

<!-- =========================
    Main Content of Page
    ========================= -->
<main class="main-content lineup-page">

    <!-- Artist info cards -->
    <div class="card-container">

        <!-- Post Sex Nachos -->
        <a href="https://postsexnachos.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/post-sex-nachos.jpg" alt="Post Sex Nachos">
                <div class="artist-white-fade"></div>
                <img src="/images/post-sex-nachos-title.png" class="artist-overlay-img" alt="Post Sex Nachos Overlay">
            </div>
        </a>

        <!-- Anna Colson -->
        <a href="https://linktr.ee/annacolson?utm_source=linktree_admin_share" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/anna-colson.jpg" alt="Anna Colson">
                <div class="artist-white-fade"></div>
                <img src="/images/anna-colson-title.png" class="artist-overlay-img" alt="Anna Colson Overlay">
            </div>
        </a>

         <!-- Slugbleed -->
        <a href="https://linktr.ee/Slugbleed" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/slugbleed.jpg" alt="Slug Bleed">
                <div class="artist-white-fade"></div>
                <img src="/images/slug-bleed-title.png" class="artist-overlay-img" alt="Slugbleed Overlay">
            </div>
        </a>

        <!-- Carmine Sun -->
        <a href="https://linktr.ee/carminesun" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/carmine-sun.jpg" alt="Carmine Sun">
                <div class="artist-white-fade"></div>
                <img src="/images/carmine-sun-title.png" class="artist-overlay-img" alt="Carmine Sun Overlay">
            </div>
        </a>

    <!-- Shock Tea -->
        <a href="https://shocktea.bandcamp.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/shock-tea.jpg" alt="Shock Tea">
                <div class="artist-white-fade"></div>
                <img src="/images/shock-tea-title.png" class="artist-overlay-img" alt="Shock Tea Overlay">
            </div>
        </a>

    <!-- Mayweather -->
        <a href="https://linktr.ee/mayweather.music" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/mayweather.jpg" alt="Shock Tea">
                <div class="artist-white-fade"></div>
                <img src="/images/mayweather-title.PNG" class="artist-overlay-img" alt="Shock Tea Overlay">
            </div>
        </a>

   <!-- Band Sillhouette -->
        <a href="https://thebandsilhouette.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/band-silhouette.JPG" alt="Band Silhouette">
                <div class="artist-white-fade"></div>
                <img src="/images/silhouette-title.PNG" class="artist-overlay-img" alt="Silhouette Overlay">
            </div>
        </a>
    
    <!-- Okay Kenedi -->
         <a href="https://www.okaykenedi.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/okay-kenedi.JPG" alt="Okay Kenedi">
                <div class="artist-white-fade"></div>
                <img src="/images/okay-kenedi-title.png" class="artist-overlay-img" alt="Okay Kenedi Overlay">
            </div>
        </a>

    <!-- Yes Daddy-->
        <a href="https://www.whotfisyesdaddy.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/yes-daddy.jpg" alt="Yes Daddy">
                <div class="artist-white-fade"></div>
                <img src="/images/yes-daddy-title.png" class="artist-overlay-img" alt="Yes Daddy Overlay">
            </div>
        </a>

        <!-- Pink Noire -->
        <a href="https://www.instagram.com/pink.noire/?hl=en" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/pink-noire.JPG" alt="Pink Noire">
                <div class="artist-white-fade"></div>
                <img src="/images/pink-noire-title.png" class="artist-overlay-img" alt="Pink Noire Overlay">
            </div>
        </a>

    <!-- Varsity Blues -->
        <a href="https://varsityblues.bandcamp.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/varsity-blues.JPG" alt="Varsity Blues">
                <div class="artist-white-fade"></div>
                <img src="/images/varsity-blues-title.png" class="artist-overlay-img" alt="Varsity Blues Overlay">
            </div>
        </a>

        <!-- Asper -->
        <a href="https://itsasper.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/Asper.jpg" alt="Asper">
                <div class="artist-white-fade"></div>
                <img src="/images/asper-title.png" class="artist-overlay-img" alt="Asper Overlay">
            </div>
        </a>

        <!-- Jombi -->
        <a href="https://jombiofficial.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/Jombi.jpeg" alt="Jombi">
                <div class="artist-white-fade"></div>
                <img src="/images/jombi-title.PNG" class="artist-overlay-img" alt="Jombi Overlay">
            </div>
        </a>

        <!-- Band Honey -->
        <a href="https://www.instagram.com/thebandhoney_/?hl=en" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card"> 
                <img src="/images/band-honey.jpg" alt="Band Honey">
                <div class="artist-white-fade"></div>
                <img src="/images/band-honey-title.PNG" class="artist-overlay-img" alt="Band Honey Overlay">
            </div>
        </a>

        <!-- Sosho Cloudy -->
        <a href="https://www.instagram.com/shosocloudy/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/shoso-cloudy.jpg" alt="Sosho Cloudy">
                <div class="artist-white-fade"></div>
                <img src="/images/shoso-title.PNG" class="artist-overlay-img" alt="Sosho Cloudy Overlay">
            </div>
        </a>

       <!-- Yes Dear -->
        <a href="https://www.instagram.com/yesdearband/?hl=en" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/yes-dear.JPG" alt="Yes Dear">
                <div class="artist-white-fade"></div>
                <img src="/images/yes-dear-title.PNG" class="artist-overlay-img" alt="Yes Dear Overlay">
            </div>
        </a>

        <!-- County Road Basement -->
        <a href="https://www.instagram.com/county.rd.basement/?hl=en" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/county-rd-basement.JPG" alt="County Road Basement">
                <div class="artist-white-fade"></div>
                <img src="/images/county-rd-title.png" class="artist-overlay-img" alt="County Road Basement Overlay">
            </div>
        </a>

        <!-- The Normas -->
        <a href="https://www.thenormas.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/normas.JPG" alt="The Normas">
                <div class="artist-white-fade"></div>
                <img src="/images/normas-title.png" class="artist-overlay-img" alt="The Normas Overlay">
            </div>
        </a>

        <!-- DJ Treybaby B2B Mourning Dove -->
        <a href="#" class="artist-card-link treybaby-mourning-link" tabindex="0">
            <div class="artist-card">
                <img src="/images/treybaby-mourning-dove.JPG" alt="DJ Treybaby B2B Mourning Dove">
                <div class="artist-white-fade"></div>
                <img src="/images/treybaby-mourning-dove-title.png" class="artist-overlay-img" alt="DJ Treybaby B2B Mourning Dove Overlay">
            </div>
        </a>

        <!-- Marz -->
        <a href="https://www.instagram.com/marzdub/?hl=en" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/marz.JPG" alt="Marz">
                <div class="artist-white-fade"></div>
                <img src="/images/marz-title.PNG" class="artist-overlay-img" alt="Marz Overlay">
            </div>
        </a>

        <!-- Placeholder for Karan Khanna -->
        <a href="#" class="artist-card-link artist-card-placeholder" tabindex="0">
            <div class="artist-card">
                <img src="/images/who.jpg" alt="???">
                <div class="artist-white-fade"></div>
                <img src="/images/TBA.png" class="artist-overlay-img" alt="???">
            </div>
        </a>

        <!-- Karan Khanna -->
        <!--
        <a href="https://karankhannainfo.com/home" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/karan-khanna.JPG" alt="Karan Khanna">
                <div class="artist-white-fade"></div>
                <img src="/images/karan-khanna-title.png" class="artist-overlay-img" alt="Karan Khanna Overlay">
            </div>
        </a>
    -->

    <!-- Placeholder for Medicine Bus -->
        <a href="#" class="artist-card-link artist-card-placeholder" tabindex="0">
            <div class="artist-card">
                <img src="/images/who.jpg" alt="???">
                <div class="artist-white-fade"></div>
                <img src="/images/TBA.png" class="artist-overlay-img" alt="???">
            </div>
        </a>

        <!-- Medicine Bus -->
        <!--
        <a href="https://linktr.ee/MedicineBusBand" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/medicine-bus.jpg" alt="Medicine Bus">
                <div class="artist-white-fade"></div>
                <img src="/images/medicine-bus-title.png" class="artist-overlay-img" alt="Medicine Bus Overlay">
            </div>
        </a>
    -->
        <!-- Placeholders for future Artists -->

<a href="#" class="artist-card-link artist-card-placeholder" tabindex="0">
  <div class="artist-card">
    <img src="/images/who.jpg" alt="???">
    <div class="artist-white-fade"></div>
    <img src="/images/TBA.png" class="artist-overlay-img" alt="???">
  </div>
</a>

<a href="#" class="artist-card-link artist-card-placeholder" tabindex="0">
  <div class="artist-card">
    <img src="/images/who.jpg" alt="???">
    <div class="artist-white-fade"></div>
    <img src="/images/TBA.png" class="artist-overlay-img" alt="???">
  </div>
</a>

<a href="#" class="artist-card-link artist-card-placeholder" tabindex="0">
  <div class="artist-card">
    <img src="/images/who.jpg" alt="???">
    <div class="artist-white-fade"></div>
    <img src="/images/TBA.png" class="artist-overlay-img" alt="???">
  </div>
</a>

<a href="#" class="artist-card-link artist-card-placeholder" tabindex="0">
  <div class="artist-card">
    <img src="/images/who.jpg" alt="???">
    <div class="artist-white-fade"></div>
    <img src="/images/TBA.png" class="artist-overlay-img" alt="???">
  </div>
</a>

</div>
</main>
<script src="/scripts/lineup.js"></script>
<%- include('../partials/footer') %>