<%- include('../partials/header') %>

<link rel="stylesheet" href="/styles/lineup.css">
<div class="page-header">
    <h1>Lineup</h1>
</div>
<main class="main-content lineup-page">
    <!-- Lineup Graphic will go here -->
    <div class="lineup-container">
        <div class="lineup">
            <img src="/images/lineup-poster.jpg" alt="Lineup">
        </div>
    </div>
    <!-- Artist info cards will go here -->
    <div class="card-container">
        <a href="https://postsexnachos.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/post-sex-nachos.jpg" alt="Post Sex Nachos">
                <div class="artist-white-fade"></div>
                <img src="/images/post-sex-nachos-title.png" class="artist-overlay-img" alt="Post Sex Nachos Overlay">
            </div>
        </a>

        <a href="https://www.therailroadspikes.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/dc-railroad-spikes.jpg" alt="DC & Railroad Spikes">
                <div class="artist-white-fade"></div>
                <img src="/images/dc-railroad-spikes-title.png" class="artist-overlay-img" alt="DC & Railroad Spikes Overlay">
            </div>
        </a>

        <a href="https://linktr.ee/annacolson?utm_source=linktree_admin_share" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/anna-colson.jpg" alt="Anna Colson">
                <div class="artist-white-fade"></div>
                <img src="/images/anna-colson-title.png" class="artist-overlay-img" alt="Anna Colson Overlay">
            </div>
        </a>

        <a href="https://linktr.ee/bondiarvo?utm_source=linktree_admin_share" target="_blank" rel="noopener noreferrer" clas="artist-card-link">
            <div class="artist-card">
                <img src="/images/bondi-arvo.png" alt="Bondi Arvo">
                <div class="artist-white-fade"></div>
                <img src="/images/bondi-arvo-title.png" class="artist-overlay-img" alt="Bondi Arvo Overlay">
            </div>
        </a>

        <a href="https://linktr.ee/Slugbleed" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/slugbleed.jpg" alt="Slug Bleed">
                <div class="artist-white-fade"></div>
                <img src="/images/slug-bleed-title.png" class="artist-overlay-img" alt="Slugbleed Overlay">
            </div>
        </a>
        <a href="https://shocktea.bandcamp.com/" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/shock-tea.jpg" alt="Shock Tea">
                <div class="artist-white-fade"></div>
                <img src="/images/shock-tea-title.png" class="artist-overlay-img" alt="Shock Tea Overlay">
            </div>
        </a>
        <a href="https://linktr.ee/carminesun" target="_blank" rel="noopener noreferrer" class="artist-card-link">
            <div class="artist-card">
                <img src="/images/carmine-sun.jpeg" alt="Carmine Sun">
                <div class="artist-white-fade"></div>
                <img src="/images/carmine-sun-title.png" class="artist-overlay-img" alt="Carmine Sun Overlay">
            </div>
        </a>
        <div class="artist-card">
            <img src="/images/monkey8.jpg" alt="Artist 8">
            <div class="card-overlay">Artist 8<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey9.jpg" alt="Monkey Funk">
            <div class="card-overlay">Artist 9<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey10.jpg" alt="The Bananas">
            <div class="card-overlay">Artist 10<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey11.jpg" alt="Jungle Jazz">
            <div class="card-overlay">Artist 11<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey12.jpg" alt="Primate Parade">
            <div class="card-overlay">Artist 12<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey13.jpg" alt="Banana Beat">
            <div class="card-overlay">Artist 13<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey14.jpg" alt="Groove Gorillas">
            <div class="card-overlay">Artist 14<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey15.jpg" alt="Simian Strings">
            <div class="card-overlay">Artist 15<br>Genre</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey16.jpg" alt="Treehouse Trio">
            <div class="card-overlay">Artist 16<br>Genre</div>
        </div>
    </div>
    <!-- Link to artist application will go here -->
    <div class="application-container">
        <div class="application-box">
            <h1>Want to perform at Aubfest?</h1>
            <h3>Artist Applications are open!</h3>
            <a href="/about" class="about-btn">Apply Now!</a>
        </div>
    </div>

</main>

<%- include('../partials/footer') %>