<%- include('../partials/header') %>

<main class="main-content lineup-page">
    <!-- Lineup Graphic will go here -->
    <div class="lineup-container">

    </div>
    <!-- Artist info cards will go here -->
    <div class="card-container">

    </div>
    <!-- Link to artist application will go here -->
    <div class="application-container">

    </div>

</main>

<%- include('../partials/footer') %> 