<!-- =========================
     Lineup Page
     This page displays the current
     lineup of artists for the upcoming
     festival.  Each artist has their 
     own card which displays an image
     of each artist, with thier name
     appearing on hover(desktop) or on
     tap(mobile).  Clicking an artist
     card(desktop) or double tapping(mobile)
     will open artist's website in a new tab.
     ========================= -->


<!-- Header Inclusion -->
<%- include('../partials/header') %>

    <!-- Stylesheet-->
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/lineup.css">

    <!-- Header -->
    <div class="page-header">
        <h1>Lineup</h1>
    </div>

    <!-- =========================
    Main Content of Page
    ========================= -->
    <main class="main-content lineup-page">

        <div class="lineup-tba-section">
            <h1 class="lineup-tba-title">AubFest VIII Lineup TBA...</h1>
            <div class="lineup-buttons">
                <a href="/past-lineups" class="lineup-btn">View Past Lineups</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScF72pd_cBWZjEqQt5CBxSVmXDxLceB3qGX6977dClZb86gyQ/viewform" target="_blank" rel="noopener noreferrer"
                class="btn-apply lineup-btn">Apply for AubFest 8!!!</a>
                <a href="/lineups/fest7lineup" class="lineup-btn">AubFest VII Lineup</a>
            </div>
        </div>

    </main>

    <script src="/scripts/lineup.js"></script>
    <%- include('../partials/footer') %>