<%- include('../partials/header') %>

<link rel="stylesheet" href="/styles/lineup.css">

<main class="main-content lineup-page">
    <!-- Lineup Graphic will go here -->
    <div class="lineup-container">
        <div class="lineup">
            <img src="/images/lineup-poster.jpg" alt="Lineup">
        </div>
    </div>
    <!-- Artist info cards will go here -->
    <div class="card-container">
        <div class="artist-card">
            <img src="/images/monkey1.jpg" alt="Artist 1">
            <div class="card-overlay">Artist 1<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey2.png" alt="Artist 2">
            <div class="card-overlay">Artist 2<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey3.png" alt="Artist 3">
            <div class="card-overlay">Artist 3<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey4.jpg" alt="Artist 4">
            <div class="card-overlay">Artist 4<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey5.jpg" alt="Artist 5">
            <div class="card-overlay">Artist 5<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey6.jpg" alt="Artist 6">
            <div class="card-overlay">Artist 6<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey7.jpg" alt="Artist 7">
            <div class="card-overlay">Artist 7<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey8.jpg" alt="Artist 8">
            <div class="card-overlay">Artist 8<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey1.jpg" alt="Monkey Funk">
            <div class="card-overlay">Monkey Funk<br>Funk / Soul</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey2.png" alt="The Bananas">
            <div class="card-overlay">The Bananas<br>Indie Rock</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey3.png" alt="Jungle Jazz">
            <div class="card-overlay">Jungle Jazz<br>Jazz Fusion</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey4.jpg" alt="Primate Parade">
            <div class="card-overlay">Primate Parade<br>Pop</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey5.jpg" alt="Banana Beat">
            <div class="card-overlay">Banana Beat<br>Electronic</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey6.jpg" alt="Groove Gorillas">
            <div class="card-overlay">Groove Gorillas<br>Hip-Hop</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey7.jpg" alt="Simian Strings">
            <div class="card-overlay">Simian Strings<br>Folk</div>
        </div>
        <div class="artist-card">
            <img src="/images/monkey8.jpg" alt="Treehouse Trio">
            <div class="card-overlay">Treehouse Trio<br>Acoustic</div>
        </div>
    </div>
    <!-- Link to artist application will go here -->
    <div class="application-container">
        <h1>Want to perform at Aubfest?</h1>
        <h3>Artist Applications are open!</h3>

    </div>

</main>

<%- include('../partials/footer') %>