<%- include('../partials/header') %>

<main class="main-content lineup-page">
    <!-- Lineup Graphic will go here -->
    <div class="lineup-container">
        <div class="lineup">
            <img src="/images/placeholder1.jpg" alt="Lineup">
        </div>
    </div>
    <!-- Artist info cards will go here -->
    <div class="card-container">
        <div class="artist-card">
            <img src="/images/placeholder1.jpg" alt="Artist 1">
            <div class="card-overlay">Artist 1<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder2.jpg" alt="Artist 2">
            <div class="card-overlay">Artist 2<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder3.jpg" alt="Artist 3">
            <div class="card-overlay">Artist 3<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder4.jpg" alt="Artist 4">
            <div class="card-overlay">Artist 4<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder5.jpg" alt="Artist 5">
            <div class="card-overlay">Artist 5<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder1.jpg" alt="Artist 6">
            <div class="card-overlay">Artist 6<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder2.jpg" alt="Artist 7">
            <div class="card-overlay">Artist 7<br>Placeholder text</div>
        </div>
        <div class="artist-card">
            <img src="/images/placeholder3.jpg" alt="Artist 8">
            <div class="card-overlay">Artist 8<br>Placeholder text</div>
        </div>
    </div>
    <!-- Link to artist application will go here -->
    <div class="application-container">

    </div>

</main>

<%- include('../partials/footer') %>