<!-- filepath: views/pages/past-lineups.ejs -->

<%- include('../partials/header') %>

<!-- Header -->
<div class="page-header">
    <h1>Past Lineups</h1>
</div>

<div class="past-lineups-gallery">
  <a href="/lineups/fest7lineup">
    <img src="/images/posters/fest7.jpg" alt="AubFest VII Poster" class="poster-btn">
  </a>
  

</div>
<%- include('../partials/footer') %>