<!-- filepath: views/pages/past-lineups.ejs -->

<%- include('../partials/header') %>
<link rel="stylesheet" href="/styles/lineup.css">
<link rel="stylesheet" href="/styles/past-lineups.css">

<!-- Header -->
<div class="page-header">
    <h1>Past Lineups</h1>
</div>


<div class="past-lineups-gallery">
  <a href="/lineups/fest7lineup">
    <img src="/images/flyers/fest7-flyer.jpg" alt="AubFest VII Poster" class="poster-btn">
  </a>
  <a href="/lineups/fest6lineup">
    <img src="/images/flyers/fest6-flyer.png" alt="AubFest VI Poster" class="poster-btn">
  </a>
  <a href="/lineups/fest5lineup">
    <img src="/images/flyers/fest5-flyer.jpeg" alt="AubFest V Poster" class="poster-btn">
  </a>
  <a href="/lineups/fest4lineup">
    <img src="/images/flyers/fest4-flyer.jpeg" alt="AubFest IV Poster" class="poster-btn">
  </a>
  <a href="/lineups/fest3lineup">
    <img src="/images/flyers/fest3-flyer.jpeg" alt="AubFest III Poster" class="poster-btn">
  </a>
  <a href="/lineups/fest2lineup">
    <img src="/images/flyers/fest2-flyer.jpeg" alt="AubFest II Poster" class="poster-btn">
  </a>
  <a href="/lineups/fest1lineup">
    <img src="/images/flyers/fest1-flyer.jpeg" alt="AubFest I Poster" class="poster-btn">
  </a>
  

</div>
<%- include('../partials/footer') %>