<!-- Including Header -->
<%- include('../partials/header') %>
    <link rel="stylesheet" href="/styles/photos.css">


    <section class="photos-section">
        <div class="photos-year">
            <h2 class="photos-title">Aubfest VII</h2>
            <div class="photos-photographers">

                <a href="https://drive.google.com/drive/folders/1scZwUvmNK_TCb2_tcEiFo1aUmQEMr2F-" target="_blank"
                    class="photographer-btn">Regis Go</a>

                <a href="#" target="_blank" class="photographer-btn">Ellie Man</a>

                <a href="#" target="_blank" class="photographer-btn">Hannah Matthews</a>

            </div>
        </div>

        <div class="photos-year">
            <h2 class="photos-title">Aubfest VI</h2>
            <div class="photos-photographers">

                <a href="https://www.dropbox.com/scl/fo/c71u3seqbwjl81zvhhoyr/AIlstc4lQhipux7hE9KdqBM?rlkey=dklwahpwg6hyux3lxdjed410a&e=2&st=jg85e7ct&dl=0"
                    target="_blank" class="photographer-btn">Carrington Allen</a>

                <a href="https://drive.google.com/drive/folders/1AS8IvI-u8fIRw5yw-EcLnFMxtdNTalNq" target="_blank"
                    class="photographer-btn">Andrew Budd</a>

                <a href="https://drive.google.com/drive/folders/1hjGeDhxu8XUCtadAweeQpHMA_uQ-x15u" target="_blank"
                    class="photographer-btn">Caroline Chesnut</a>

                <a href="https://photos.google.com/share/AF1QipMKzvb3N2OFjky9xf_DBtNT3hAqO46Eu3DQ_aOxcdVS3UsXmBH_DwklFMavDkMyzg?key=TWdEZzNwSzIzdmNDZFpDS1hpXzlUMmxadnVtSEJ3"
                    target="_blank" class="photographer-btn">Piper Doyle</a>

                <a href="https://drive.google.com/drive/folders/1ow8_QO6ejPS_T6KNodQ6HEeoKrtuvfYu?fbclid=IwZXh0bgNhZW0CMTAAAR1xdM0JqCAwTYAy48wQ2o_yqrFmOp-xJSrn30vXHkwg_Qsj8sWi4Jq6KkM_aem_8BxxMRoan2wGYLUmyFRyjg"
                    target="_blank" class="photographer-btn">Nordista Freeze</a>

                <a href="https://drive.google.com/drive/folders/1a2Ex_Q2gJ9M7Wb6J71mLAioCGmLB26g6" target="_blank"
                    class="photographer-btn">Regis Go</a>

                <a href="https://lightroom.adobe.com/shares/3cb5af08f52b4936a2a22ccf290c4709" target="_blank"
                    class="photographer-btn">Justin Harris</a>

                <a href="https://drive.google.com/drive/folders/1xs1ga7zUGEcS3-ncNqbad0ajBYVHcHVf?fbclid=PAZXh0bgNhZW0CMTEAAaby2lRnXu09UMIqXJREmNCqS0nUkV4_p0TlVlYZRMnm0E6WBw6V3GjEJaQ_aem_crVkqfxuO02dAb429uSJ2g"
                    target="_blank" class="photographer-btn">Trey Hibbard</a>

                <a href="https://photos.google.com/share/AF1QipPQ4ISUXIBzqVKmbi2DFRtJdt01Clc9URtQdCK8QbzbJ-8pgm7wY8sDFMMN330yPQ?key=bFlpV3RubkVvNnh3NGZuWkF4RUlGQTBic2NSeWR3"
                    target="_blank" class="photographer-btn">Hannah Matthews</a>

                <a href="https://drive.google.com/drive/folders/1-VHhqCvflzIWChMfJmhHdczrv6Cs7kmV" target="_blank"
                    class="photographer-btn">Alexander McHorne</a>

                <a href="https://drive.google.com/drive/folders/1xYCnwz_LBQAbV1zupTu2dRYAAqPwtaEQ" target="_blank"
                    class="photographer-btn">Estela Muñoz</a>

                <a href="https://drive.google.com/drive/folders/1TeF4AZOHS47etLPY-OqnNdvdctZDfWpg" target="_blank"
                    class="photographer-btn">Caroline Patterson</a>

            </div>
        </div>

        <div class="photos-year">
            <h2 class="photos-title">Aubfest V</h2>
            <div class="photos-photographers">

                <a href="https://photos.google.com/share/AF1QipOZ8UFIUiVNf2DPe-p2tPvDyEPZJ-w28G9qYmpMruy0JtBG2eHXTHGuqM5elplTrw?key=d1RhTGR2d1ZVa21aLUJIbTBSWEwzWkowWmxPODln"
                    target="_blank" class="photographer-btn">Carrington Allen</a>

                <a href="https://drive.google.com/drive/folders/1n_M-a1jaNAdxh_hKpFUa5Whw0oyHAasa" target="_blank"
                    class="photographer-btn">Estela Muños</a>

                <a href="https://photos.google.com/share/AF1QipOZ8UFIUiVNf2DPe-p2tPvDyEPZJ-w28G9qYmpMruy0JtBG2eHXTHGuqM5elplTrw?key=d1RhTGR2d1ZVa21aLUJIbTBSWEwzWkowWmxPODln"
                    target="_blank" class="photographer-btn">Connor Robinson</a>

            </div>
        </div>
        <div class="photos-year">

            <h2 class="photos-title">Aubfest IV</h2>
            <div class="photos-photographers">

                <a href="https://drive.google.com/drive/folders/1pb8CM6TXD-z3gH1DMWuW2NKY2tGvJ7Vv" target="_blank"
                    class="photographer-btn">Andrew Budd</a>

                <a href="https://photos.google.com/share/AF1QipN_IoTJDa5T44577fCn0YsUOuPzYJ-5WcghclzJxopFu4meolBjiODRHYqSB8Xbbw?key=V3pLQXFFTF9nalNma2FFazRDeTBwUnRxNmZuVzRB"
                    target="_blank" class="photographer-btn">Piper Doyle</a>

                <a href="https://drive.google.com/drive/folders/1vRa7LWWPOcwoZ_3RUxAOjxqzNY-GDdG_" target="_blank"
                    class="photographer-btn">Ervin Elzie</a>

                <a href="https://lightroom.adobe.com/shares/0320e5027bb548faafe5c97a3b3dfecd"
                    target="_blank" class="photographer-btn">Justin Harris</a>

                <a href="https://drive.google.com/drive/folders/1YDqp-PLn6dLwrayaA_E-6tyf1fgQa_oY" target="_blank"
                    class="photographer-btn">Caroline Patterson</a>

            </div>
        </div>

        <div class="photos-year">
            <h2 class="photos-title">Aubfest III</h2>
            <div class="photos-photographers">

                <a href="https://photos.google.com/share/AF1QipN_IgxEWEDg2KqCNrHztQFdJmQ3-Ipp9JyQZBbpDkQ4d6msnCUb19bWTAFj9jrlpw?key=QTFnNUdyalNPclhFTlVSd21hRG5SR0l2RXhWTGhR"
                    target="_blank" class="photographer-btn">Jimmy Fincher</a>

                <a href="https://photos.google.com/share/AF1QipOG5LGfqHbtizlwF8zjxaA-01BsAUzcE4u9ze4Ow3iMz8rCBpnJDHzfW9yTfP8W1A?key=MUJUTWx3TnNkQXoxN0Y4MFVUczhnVVlsUkRKTWRB"
                    target="_blank" class="photographer-btn">Caroline Patterson</a>

            </div>

        </div>
        <div class="photos-year">
            <h2 class="photos-title">Aubfest II</h2>
            <div class="photos-photographers">

                <a href="https://auburn.app.box.com/v/citizens-of-aubfest" target="_blank"
                    class="photographer-btn">Dylan Basden</a>

                <a href="https://photos.google.com/share/AF1QipMqHQKEqH-QVIy8tcHBaTJU-YcX8j4g-AkRvSFKDHwOvGVPqQhm7BVsBXcBbBbhOw?pli=1&key=aXI0Tm5hNkdjZEUzTF9lZjJzN3hoei13TFc1NlR3"
                    target="_blank" class="photographer-btn">Samuel Monger</a>

            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>